.resume-item-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  padding-bottom: 4rem;
}

.resume-item {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.1" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23250E17"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'),
    #fff;
  background-size: 12px, 100%;
  position: relative;
  border: 4px solid var(--color-dark-gray);
  padding: 10px 30px;
  transition-duration: 0.5s;
}

.resume-title {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: lowercase;
}

.resume-item:hover {
  box-shadow: var(--box-shadow-black);
}

.resume-img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.resume-desc {
  font-size: 1rem;
  color: #e8e8e8;
}
