.btn-style {
  position: fixed;
  bottom: 30px;
  right: 28px;
  width: 5%;
  cursor: pointer;
  animation: movebtn 5s ease-in-out infinite;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  pointer-events: none;
  content: url("../assets/img/arrow-up-violet.png");
}

.btn-style.show {
  display: block;
  opacity: 1;
  pointer-events: auto;
}

.btn-style:hover {
  content: url("../assets/img/arrow-up-green.png");
  animation: none;
  color: var(--color-light-green);
}

@keyframes movebtn {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(4px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* @media screen and (min-width: 1600px) {
  .btn-style {
    border: 0.65rem solid var(--color-dark-violet);
  }
  .btn-style:hover {
    border: 0.65rem solid var(--color-dark-gray);
  }
}

@media screen and (max-width: 768px) {
  .btn-style {
    letter-spacing: -0.2px;
  }
} */
